

.border {
    min-height: 380px;
    background-color: rgba(255, 255, 255, 0.69);
   border: 1px solid #FFFFFF;
   padding: 15px 25px;
   float:none;
   
}


#loginCont {
    background: url("login_bg_large.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0;
    background-position: center;
    margin-top:2%;
}







 